*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222;
}

/* styling the header part */

header{
    width: 100%;
    height:auto;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 0;
}
header h2 {
    color:cyan;
}
header h2 span{
    color: darkorange;
}
header a{
    text-decoration: none;
    color: cyan;
    font-size: 1.5rem;
    margin-right: 1rem;
}
header a:hover{
    color: tomato;
}

/* container main content */

#border{
    width: 60%;
    box-shadow: 0.5px 0.5px 2px 1px lightgrey;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.01);
    z-index: 0;
    padding: 10px;
}


/* styling hero name */
#h1{
    width: 100%;
    padding: 5px;
    text-align: center;
    color: turquoise;
    margin: 2rem 0;
    font-size: 2.5rem;
}

/* set the hero image */

#hero-img{
    height: 380px;
    width: 350px;
    margin-bottom: 2rem;
    overflow: hidden;
}
#hero-img img{
    height: 100%;
    width: 100%;
}
#hero-img img:hover{
    transform: scale(1.1);
}

/* SET THE BIO PART */
#bio{
    height: auto;
    padding: 10px;
    width: 90%;
    margin-left: 3rem;
}
#h2-bio{
    color: darkorange;
    font-size: 2.1rem;
}
#bio>div{
    color:rgb(114, 207, 7);
    font-size: 1.3rem;
    margin: 1rem 0;
    border-bottom: 1px solid cyan;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
#bio div div{
     color: cyan;
}
#powerstates{
    height: auto;
    padding: 15px;
    width: 90%;
    margin-left: 3rem;
}

/* styling power stats */

#h2-power{
    color: darkorange;
    font-size: 2.1rem;
}
#powerstates>div{
    color:rgb(114, 207, 7);
    font-size: 1.3rem;
    margin: 1rem 0;
    border-bottom: 1px solid cyan;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

#powerstates div div{
    display: inline-block;
     color:cyan;
}