/* styling */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222;
    background-image: url("./IMAGES/super hero marvel.jpg");
}

/* header-styling */

header{
    width: 100%;
    height: auto;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    background-color: black;
}
header h2 {
    color:cyan;
}
header h2 span{
    color: darkorange;
}


main{
    position: relative;
}
/* styling favourite button */

#fav-btn a{
    text-decoration: none;
    cursor: pointer;
    color: cyan;
    font-size: 1.5rem;
}
#fav-btn a:hover{
    color: darkorange;
}
 #fav-btn{
    color: cyan;
    margin-right: 1rem;
}

/* heading for user */

#heading{
    width: 100%;
    color: whitesmoke;
    font-family: cursive;
    text-align: center;
    margin-top: 7rem;
}

/* search bar styling */

#input{
    width: 50%;
    margin: 1rem auto 1rem;
}
#input input{
    padding: 10px;
    font-size: 1.3rem;
    color: white;
    background-color: darkblue;
    width: 100%;
    outline: none;
    border: none;
}

/* styling serch list where appears all suggestion with the key entry */

#search-list{
    width: 50%;
    height: 25rem;
    margin: auto;
    overflow: scroll;
}
 .search-item{
    width: 500px;
    height: auto;
    display: flex;
    margin-bottom: 20px;

}

/* styling image of heros */

 .list-image{
    width: 200px;
    height: 200px;

}
 .list-image img{
    height: 100%;
    width: 100%;
}
/* where phtos and name and strength appears one by one */
 .list-details{
    height: 200px;
     width: 200px;
    padding: 20px;
    color: white;
    font-size: 1.2rem;
}

/* styling like btn */

  button{
    margin-top: 1rem;
    padding: 5px;
    width: 6rem;
    color: black;
    background-color: cyan;
    border: none;
    outline: none;
    font-size: 1.3rem;
    cursor: pointer;
}

/* to hide scroll bar which is in seach-list */

#search-list::-webkit-scrollbar {
   display: none;
   }